table {
	border: 1px solid black;
	border-spacing: 0;
	margin: 0 auto;
	margin-bottom: 25px;
}
td {
	border: 1px solid black;
	width: 50px;
	height: 50px;
	background-color: #f3d886;
}
.found {
	background-color: red;
}
.enemyTile {
	background-color: #bf9821;
}

td:hover {
	border-color: lightgreen;
	box-shadow: 0 0 2px lightgreen;
}

h1 {
	text-align: center;
}
